
<style type="text/css">
#v6_pl_rightmod_myinfo div {
    display: block;
    height: 78px;
}

.W_person_info .cover {
    position: relative;
    width: 225px;
    height: 75px;
    background-repeat: no-repeat;
    z-index: 1;
}

.W_person_info .cover {
    position: relative;
    max-width: 100%;
    height: 75px;
    background-repeat: no-repeat;
    z-index: 1;
}

.W_person_info .cover .headpic {
    width: 60px;
    height: 60px;
    padding: 3px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}

.W_face_radius {
    border-radius: 50%;
}

.nameBox  {
    vertical-align: middle;
    max-width: 226px;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    height: 16px;
    line-height: 10px;
    padding-top: 15px;
    text-align: center;
}

.user_atten  {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.user_atten li
{
    display: list-item;
    float: left;
    width: 65px;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
}

#mysidebar {
    margin-top: 20px;
}

</style>

<div id="v6_pl_rightmod_myinfo" >
    <div class="WB_cardwrap S_bg2">
        <div class="W_person_info">
            <div class="cover" id="skin_cover_s" style="background-image:url(/images/001.jpg)">
                <div class="headpic"> 
                    <a bpfilter="page_frame" href="/index.html" title="壹木人">
                        <img class="W_face_radius" src="/images/mypic.jpeg" width="60" height="60" alt="壹木人">
                    </a>
                </div>
            </div>
        </div>
        <div class="WB_innerwrap">
            <div class="nameBox">
                <a bpfilter="page_frame" href="/index.html" class="name S_txt1" title="叶斌46692">壹木人</a>
            </div>
        </div>
        
    </div>
</div>


<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">目录</li>

  <li>
        <a href="#">博文列表</a>
        <ul data-index="0" style="display: none;">
            {% for post in site.posts  %}
            <li><a href="{{ post.url }}"  target="frame_right" >{{ post.title }} </a></li>
            {% endfor %}      
        </ul>
  </li>

  <li>
        <a href="#">博文归档</a>
        <ul data-index="0" style="display: none;">        
            <li class="subfolders">
                <a href="#">PHP</a>
                <ul>
                    {% for page in site.posts  %}
                    {% if page.categories contains "php" %}
                    <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>    

            <li class="subfolders"><a href="#">Go</a> <ul>
                    {% for page in site.posts  %}
                        {% if page.categories contains "go" %}
                            <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="subfolders">
                    <a href="#">Lua</a>
                    <ul>
                        {% for page in site.posts  %}
                        {% if page.categories contains "Lua" %}
                        <li><a href="{{ page.url }}" target="frame_right"  >{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
            </li>

            <li class="subfolders"><a href="#">C and C++</a>
                    <ul>
                        {% for page in site.posts  %}
                        {% if page.categories contains "cpp" %}
                        <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
            </li>

            <li class="subfolders">
                <a href="#">Mysql</a>
                <ul>
                    {% for page in site.posts  %}
                    {% if page.categories contains "mysql" %}
                    <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>

            
            
            <li class="subfolders">
                <a href="#">Redis</a>
                <ul>
                    {% for page in site.posts  %}
                    {% if page.categories contains "redis" %}
                    <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="subfolders">
                    <a href="#">Memcache</a>
                    <ul>
                        {% for page in site.posts  %}
                        {% if page.categories contains "memcache" %}
                        <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            
            <li class="subfolders"><a href="#">Nginx</a> <ul>
                    {% for page in site.posts  %}
                        {% if page.categories contains "nginx" %}
                            <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="subfolders"><a href="#">Linux</a> <ul>
                    {% for page in site.posts  %}
                        {% if page.categories contains "linux" %}
                            <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="subfolders"><a href="#">Architecture</a> <ul>
                    {% for page in site.posts  %}
                        {% if page.categories contains "arch" %}
                            <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            
            <li class="subfolders"><a href="#">Blockchain</a> <ul>
                    {% for page in site.posts  %}
                        {% if page.categories contains "blockchain" %}
                            <li><a href="{{ page.url }}" target="frame_right" >{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

        </ul>
  </li>
  
  <li>
        <a href="#">佳文共赏</a>
        <ul data-index="0" style="display: none;">
            <li><a href="/pages/classical/classical_hushi.html"  target="frame_right"> 胡适:赠与今年的大学毕业生 </a></li>
        </ul>
  </li>
  
  <li>
        <a href="#">关于我</a>
        <ul data-index="0" style="display: none;">
            <li><a href="/mydoc_aboutme.html" target="frame_right" >我</a></li>  
        </ul>
  </li>
  
  
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
