<!-- Page Content -->
<div class="container" style="width: 99%;">
  <div id="main">
    <div class="row">
        <div style="text-align: center; font: 1.75em sans-serif; margin-bottom: 5px">
            {{ page.title }}                
        </div>
    </div>
    <div class="row">
        <div style="text-align: right; font: 0.75em sans-serif; margin-bottom: 30px; width:60%">
            Published {{ page.date | date: "%b %-d, %Y" }}                
        </div>
    </div>


    <div class="post-content" itemprop="articleBody">

            {% if page.summary %}
            <div class="summary" style="font-size: 14px;">{{page.summary}}</div>
            {% endif %}
            
            {% unless page.toc == false %}
            {% include toc.html %}
            {% endunless %}

            <div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; line-height: 1.8;"> {{ content }}  </div>
        </div>
    </div>
</div>

{% include footer.html %}
