<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>

    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

    <script type="text/javascript" language="javascript">
        function GetUrl() {
            var param = window.location.hash;

            return param.substr(1) + param;
        }

        $(document).ready(function() {
            var param = window.location.hash;
            
            if (param != "" && param != "#" && param != "#index.html") {
                var src   = param.substr(1);
                $('#frame_right').attr("src", src);

            }    

            $('.post_url').click(function(e){
                var stateObject = {};
                var title  = "";
                url = "index.html#" + $(this).attr("href");
                history.pushState(stateObject,title,url);
            });

            if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-sidebar").width("100%");
                $("#frame_right").width("100%");
                $("#tg-sb-icon").toggleClass('fa-toggle-off');        
            } 

        });

    </script>

    <style type="text/css">

        #frame_right {
            width: 77%;
            height: 100%;
            box-sizing:border-box;
            -webkit-box-sizing:border-box;
            overflow: hidden;
        }

    </style>

    
</head>
<body>
{% include topnav.html %}

<div class="col-md-3" id="tg-sb-sidebar" style="width: 20%;  margin-left: 2%;">
        {% include sidebar.html %}
    </div>
<!-- <iframe id="frame_left" name="frame_left" scrolling=no frameborder=0  src="/sidebar.html"> </iframe>  -->

<iframe id="frame_right" name="frame_right"   frameborder=0  src="/content_list.html" allowtransparency="yes"></iframe> 



</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
