<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

<style> 
           
#myposts {
    font-family: Helvetica, arial, sans-serif; 
    font-size: 14px; 
    /* line-height: 1.8; */
}

.my_row {
    width: 49%;
    /* min-width: 500px; */
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    .my_row {
        width: 100%;
        display: inline-block;
    }
}


</style>

</head>
<body>
<!-- Page Content -->
<div class="container" style="width: 99%;">
  <div id="main">
    <div class="row">
        <div style="text-align: center; font: 1.75em sans-serif; margin-bottom: 5px">
            {{ page.title }}                
        </div>
    </div>
    <div class="row">
        <div style="text-align: right; font: 0.75em sans-serif; margin-bottom: 30px; width:60%">
            {{ 'now' | date: "%a, %b %d, %Y" }}             
        </div>
    </div>


    <!-- <div class="post-content" itemprop="articleBody">

        {% if page.summary %}
        <div class="summary" style="font-size: 14px;">{{page.summary}}</div>
        {% endif %}
            
        {% unless page.toc == false %}
        {% include toc.html %}
        {% endunless %}

        
    </div> -->

    {% assign rows = site.posts.size | divided_by: 2.0 | ceil %}
    <div id="myposts">
    {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
        
        <div class="posts">
            {% for post in site.posts limit:2 offset:offset %}
                {% if post.status == 1 %}
                <div class="my_row"><a href="{{ post.url }}"> - {{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></div>
            
                {% elsif post.status == 2 %}
                <div class="my_row"><a href=""> - <span style="color:#C0C0C0; font-family: Helvetica, arial, sans-serif;">[计划中]</span> {{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></div>
                
                {% elsif post.status == 3 %}
                <div class="my_row"><a href="{{ post.url }}"> - <span style="color:#FF0000; font-family: Helvetica, arial, sans-serif;">[{{ post.complete }}]</span> {{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></div>
                
                {% endif %}

            {% endfor %}
        </div>

        {% assign b = offset + 2 %}
        {% assign res = b | modulo:10 %}
        {% if res == 8  %}
            <div style="height:20px"></div>
        {% endif %}
    {% endfor %}
    </div>




  </div>
</div>


{% include footer.html %}
</body>
</html>
